h1,h2{
  text-align: center;
}
.repository-view-tab {
  display: flex;
  border: 1px solid #ccc;
  padding: 10px;
  width: 900px;
  margin:0 auto;
  height: 90vh;
}
.repository-sidebar {
  width: 200px;
  margin: 0;
  padding: 0;
  border-right: 1px solid #ccc;
  background-color: #212529;
  border-radius: 7px;
  height: 80vh;
}
ul{
  list-style-type: none;
}
.repository-list{
  margin: 0;
  padding: 0;
  overflow-y:auto;
  overflow-x: hidden;
  height: 95%;
}
.repository-list li, .repository-sidebar strong {
  cursor: pointer;
  color: white;
  padding-left:5px;  
}
.repository-list li:hover {
  background-color: Sienna;
}
.repository-list li.selected {
  background: brown;
}
.content{
  width: 700px;
  height: 80vh;
}
.issues{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: flex-start;
  width: 100%;
  margin:0;
  height: 95%;
  overflow-y: auto;
}
.issues li{
  position: relative;
  display: block;
  padding: 10px;
  margin: 10px;
  width: 180px;
  min-height: 100px;
  max-height: 300px;
  border: 1px #212529 solid;
  border-radius: 3px;
  background-color: #f3f3f3;
  word-wrap: break-word;
  cursor: pointer;
}
.issues li:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.issues li span, .btn{
  font-size: 12px;
}

.state{
  position: absolute;
  font-size: 12px;
  color:green;
  top:0;
  right: 5px;
}
.state.closed{
  color:red;
}

.not-found {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.not-found strong {
  font-size: 20px;
}

.issueWindow{
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: fixed;
}

.mute{
  width:100%;
  height:100%;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}
.issueContainer{
  width: 800px;
  height: 100%;
  background-color: white;
  border: 2px solid black;
  padding: 0;
  margin:0 auto;
  position: relative;
  z-index: 2;
  overflow-y: auto;
  word-wrap: break-word;
}
.hide{
  display: none !important;
}
.description{
  margin:5px;
}
.comment-list{
  padding-top:10px;
  padding-left: 20px;
}